.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #66a4ba;
  color: white;
}

#students1 {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students1 td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students1 tr:nth-child(even){background-color: #f2f2f2;}

#students1 tr:hover {background-color: #ddd;}

#students1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #47a9ff;
  color: white;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .child {
  background-color: #66a4ba;
  text-align: center;
  width: 300px;
  height: 150px;
  }
  
